@font-face {
    font-family: Pacifico;
    src: url(pacifico.ttf);
}

/* General styling and spacing */
body {
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
  font-family: 'Pacifico', sans-serif;
  background: #2f4fff url("/images/back.png") no-repeat fixed center;
  color: #f3f3f3;
}

.content {
  margin: 0 auto;
  width: 50rem;
}

/* Styling for text */
.title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 3rem;
  color: #f3f3f3;
}

.subtitle {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

/* Div styling */
.join {
  margin: 0;
  padding-top: 2rem;
  width:25rem;
  height: 25rem;
  float: left;
  border-right: solid 1px #f3f3f3;
  box-sizing: border-box;
}

.create {
  margin: 0;
  padding-top: 2rem;
  width:25rem;
  height: 25rem;
  float: right;
  border-left: solid 1px #f3f3f3;
  box-sizing: border-box;
}

/* Form element styling */
.createForm {
  width: 35rem;
  margin: 0 auto;
  border: solid 1px black;
}

.field {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  width: 40%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
}

.button {
 display: block;
 text-decoration: none;
 text-align: center;
 margin: 0 auto;
 padding: 10px 15px;
 width: 10rem;
 color: #2f4fff;
 background-color: #f3f3f3;
 border: none;
 border-radius: 30px;
}

table {
  margin: 0 auto;
  padding: 5px;
}
table .field, textarea {
  width: 100%;
}
