@font-face {
    font-family: Pacifico;
    src: url(pacifico.ttf);
}
@font-face {
    font-family: PoiretOne;
    src: url(PoiretOne.ttf);
}

/* General styling and spacing */
body {
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
  font-family: 'PoiretOne', sans-serif;
  background: #2f4fff url("/images/back.png") no-repeat fixed center;
  color: #f3f3f3;
}

.content {
  margin: 0 auto;
  width: 50rem;
}

/* Styling for text */
.title {
  text-align: center;
  font-family: 'Pacifico';
  font-weight: bold;
  font-size: 3rem;
  padding-top: 3rem;
  color: #f3f3f3;
}

.subtitle {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

/* The info other than event name and host */
.info {
  text-align: center;
  font-size: 1.3rem;
}

/* The <p> tag on event pages */
.description {
margin: 1.5rem auto 1.5rem auto;
font-size: 1rem;
text-align: center;
padding: 15px;
width: 30rem;
background: #2f4fff;
border-radius: 5px;
}

/* Div styling */
.join {
  margin: 0;
  padding-top: 2rem;
  width:25rem;
  height: 25rem;
  float: left;
  border-right: solid 1px #f3f3f3;
  box-sizing: border-box;
}

.create {
  margin: 0;
  padding-top: 2rem;
  width:25rem;
  height: 25rem;
  float: right;
  border-left: solid 1px #f3f3f3;
  box-sizing: border-box;
}

/* Form element styling */
.createForm {
  width: 35rem;
  margin: 0 auto 1rem auto;
}

#hidden {
  display: none;
}

.field {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  width: 40%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  margin: 0 auto 1rem auto;
}

#indexLabel {
  display: block;
  text-align: center;
}
label {
  display: block;
  width: 100%;
  margin: 1rem auto 0 auto;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
}

.button {
 display: block;
 font-size: 1rem;
 text-decoration: none;
 text-align: center;
 margin: 0 auto;
 padding: 10px 15px;
 width: 10rem;
 color: #2f4fff;
 background-color: #f3f3f3;
 border: none;
 border-radius: 30px;
}
